{% extends "base.html" %}

{% block title %}Logged out{% endblock title %}

{% block content %}
    <h1>Logged out</h1>
    <p>
        You have successfully logged out.
        you can <a href="{% url "login" %}">log in again</a>
    </p>
{% endblock content %}